FastAPI
uvicorn[standard]
pydantic
pydantic-settings
email-validator
httpx
python-dotenv
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
schedule
requests
google-generativeai